<html>
<head>
    <title>Albums</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
    function showform(dowhat) {
        if(dowhat == 'insert') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        } else if(dowhat == 'update') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        } else if(dowhat == 'delete') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        } else if(dowhat == 'all') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        } else {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }

    function newAlbum() {
        showform('insert');
    }

    function updateAlbum(pid) {
        showform('update');
    }

    function deleteAlbum(pid) {
        showform('delete');
    }

    function browseAlbum() {
        showform('browse');
    }

    function showAll() {
        showform('all');
    }
    </script>
</head>

<body onload="browseAlbum()">
    <h1>Albums</h1> [ <a href="/">Home</a> | <a href="users">Users</a> | <a href="albums">Albums</a> | <a href="likedSongs">Liked Songs</a> | <a href="artists">Artists</a> | <a href="songs">Songs</a> ]
    <div id="browse">
        <p><a href="#" onClick="newAlbum()">Add New</a></p>
        <table border="1" cellpadding="5">
            {% if data %}
            <thead>
                <tr>
                    {% for key in data[0].keys() %}
                    <th scope="col">{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    {% for key in item.keys() %}
                    <td>{{ item[key] }}</td>
                    {% endfor %}
                    <td><a href="edit_album/{{ item.albumId }}" class="btn btn-default">Edit</a></td>
                    <td><a href="delete_album/{{ item.albumId }}" class="btn btn-default">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>

    <div id="insert">
        <!-- form to INSERT new data into Albums-->
        <form id="insertAlbum" action="/albums" method="post">
            <legend><strong>Add Album</strong></legend>
            <fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
                <label for="albumName">Album Name:</label>
                <input type="text" class="form-control" id="albumName" name="albumName" required>

                <label for="recordStudio">Record Studio:</label>
                <input type="text" class="form-control" id="recordStudio" name="recordStudio" required>

                <label for="yearReleased">Year Released:</label>
                <input type="number" class="form-control" id="yearReleased" name="yearReleased" required>

                <label for="artistId">Artist:</label>
                <select class="form-control" id="artistId" name="artistId" required>
                    {% for artist in artists %}
                        <option value="{{ artist.artistId }}">{{ artist.artistName }}</option>
                    {% endfor %}
                </select>

                <label for="numberOfSongs">Number of Songs:</label>
                <input type="number" class="form-control" id="numberOfSongs" name="numberOfSongs" required>
            </fieldset>

            <!-- Create 'Add Album' and 'Cancel' buttons -->
            <input type="submit" value="Add Album" name="Add_Album" class="btn btn-primary">
            <input type="button" value="Cancel" onClick="browseAlbum()" class="btn">
        </form>
    </div>
</body>
</html>
