<!-- base.j2 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Streamify Admin Panel</h1>
        <nav>
            <a href="{{ url_for('root') }}">Home</a>
            <a href="{{ url_for('view_users') }}">Users</a>
            <a href="{{ url_for('view_subscriptions') }}">Subscriptions</a>
            <a href="{{ url_for('view_albums') }}">Albums</a>
            <a href="{{ url_for('view_likedSongs') }}">Liked Songs</a>
            <a href="{{ url_for('view_artists') }}">Artists</a>
            <a href="{{ url_for('view_playlists') }}">Playlists</a>
            <a href="{{ url_for('view_songs') }}">Songs</a>
            <a href="{{ url_for('view_addedSongs') }}">Added Songs</a>
            <a href="{{ url_for('view_collaborations') }}">Collaborations</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
