<html>
<head>
    <title>Edit Subscription</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Subscription: </caption>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th scope="col" data-field="{{ key }}">{{ key }}</th>
                        {% endfor %} 
                    </tr>
                <tbody>
                    {% for item in data %}
                    <tr>
                        {% for key in item.keys() %}
                        <td>{{item[key]}}</td>
                        {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <form id="editSubscription" action="/edit_subscription/{{data[0].subscriptionId}}" method="post">
                <legend><strong>Edit Subscription</strong></legend>
                <fieldset>
                    {#<input type="hidden" value="{{data[0].subscriptionId}}" class="form-control" id="subscriptionId" name="subscriptionId" required>#}

                    <label for="subscriptionDescription">Description:</label>
                    <input type="text" value="{{data[0].subscriptionDescription}}" class="form-control" id="subscriptionDescription" name="subscriptionDescription" required>

                    <label for="price">Price:</label>
                    <input type="number" value="{{data[0].price}}" class="form-control" id="price" name="price" required>

                    <label for="numberOfSubscriptions">Number of Subscriptions:</label>
                    <input type="number" value="{{data[0].numberOfSubscriptions}}" class="form-control" id="numberOfSubscriptions" name="numberOfSubscriptions" required>
                </fieldset>
                <input type="submit" value="Edit Subscription" name="Edit_Subscription" class="btn btn-primary" style="margin:.5rem;">
                <a href='/subscriptions'><input class="btn" type="button" value="cancel"></a>
            </form>
        </div>
</body>
</html>
