<html>

<head>
	<title>Edit Song</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Song: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in Songs-->
            <form id="editSong" action="/edit_song/{{data[0].songId}}" method="post">
                <legend><strong>Edit Song</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].songId}}" class="form-control" id="songId" name="songId" required>
                    
                    <label for="make">songName:</label>
                    <input type="text" value="{{data[0].songName}}" class="form-control" id="songName" name="songName" pattern="[A-Za-z0-9.@/s]{1,}" required>

                    <label for="albumId">Album:</label>
                    <select class="form-control" id="albumId" name="albumId" required>
                        {% for album in albums %}
                            <option value="{{ album.albumId }}" {% if data[0].albumId == album.albumId %} selected {% endif %}>
                                {{ album.albumName }}
                            </option>
                        {% endfor %}
                    </select>

                    <label for="artistId">Artist:</label>
                    <select class="form-control" id="artistId" name="artistId" required>
                        {% for artist in artists %}
                            <option value="{{ artist.artistId }}" {% if data[0].artistId == artist.artistId %} selected {% endif %}>
                                {{ artist.artistName }}
                            </option>
                        {% endfor %}
                    </select>

                    <label for="model">genre:</label>
                    <input type="text" value="{{data[0].genre}}" class="form-control" id="genre" name="genre" pattern="[A-Za-z.@/s]{1,}" required>

                    <label for="model">songLength:</label>
                    <input type="text" value="{{data[0].songLength}}" class="form-control" id="songLength" name="songLength" pattern="[0-9.@/s]{1,}" required>

                    <label for="model">totalStreams:</label>
                    <input type="text" value="{{data[0].totalStreams}}" class="form-control" id="totalStreams" name="totalStreams" pattern="[0-9]{1,}" required>
                
                </fieldset>
                <input type="submit" value="Edit Song" name="Edit_Song" class="btn btn-primary" style="margin:.5rem;">
                <a href='/songs'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>