<html>
<!-- Adapted from the people.html UI design -->
<head>
	<title>Songs</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newSong() {
		showform('insert');
	}

	function updateSong(pid) {
		showform('update');
	}

	function deleteSong(pid) {
		showform('delete');
	}

	function browseSong() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseSong()">
	<h1>Song</h1> [ Planets | <a href="artist">Artist</a> | <a href="playlist">Playlist</a> | <a href="song">Song</a>  ]
	<div id="browse">
		<p><a href="#" onClick="newSong()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td>

                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_song/{{item.songId}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_song/{{item.songId}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into Songs-->
		<form id="insertSong" action="/song" method="post">
			<legend><strong>Add Song</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="make">song name:</label>
				<input type="text" class="form-control" id="songName" name="songName" pattern="[A-Za-z.@/s]{1,}" placeholder="" required>

				<label for="model">albumId:</label>
				<input type="text" class="form-control" id="albumId" name="albumId" pattern="[0-9]{1,}" placeholder="" required>

				<label for="model">artistId:</label>
				<input type="text" class="form-control" id="artistId" name="artistId" pattern="[0-9]{1,}" placeholder="" required>

				<label for="model">genre:</label>
				<input type="text" class="form-control" id="genre" name="genre" pattern="[A-Za-z.@/s]{1,}" placeholder="" required>

				<label for="model">songLength:</label>
				<input type="text" class="form-control" id="songLength" name="songLength" pattern="[0-9.@/s]{1,}" placeholder="" required>

				<label for="model">totalStreams:</label>
				<input type="text" class="form-control" id="totalStreams" name="totalStreams" pattern="[0-9.@/s]{1,}" placeholder="" required>

            </fieldset>

            <!-- Create 'Add Song' and 'Cancel' buttons -->
			<input type="submit" value="Add Song" name="Add_Song" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseSong()"> 
        </form>
	</div><!--insert-->
	<div id="edit">
		<!-- form to edit data in Songs-->
		<form id="editSong" action="/edit_song/{{data[0].id}}" method="post">
			<legend><strong>Edit Song</strong></legend>
			<fieldset>
				<input type="hidden" value="{{data[0].id}}" class="form-control" id="songId" name="songId" required>
				
				<label for="make">song name:</label>
				<input type="text" class="form-control" id="songName" name="songName" pattern="[A-Za-z0-9.@/s]{1,}" placeholder="{{data[0].songName}}" required>
				
				<label for="model">albumId:</label>
				<input type="text" class="form-control" id="albumId" name="albumId" pattern="[0-9]{1,}" placeholder="{{data[0].albumId}}" required>
				
				<label for="year">artistId:</label>
				<input type="text" class="form-control" id="artistId" name="artistId" pattern="[0-9]{1,}" placeholder="{{data[0].artistId}}" required>

				<label for="year">genre:</label>
				<input type="text" class="form-control" id="genre" name="genre" pattern="[A-Za-z0-9.@/s]{1,}" placeholder="{{data[0].genre}}" required>

				<label for="year">songLength:</label>
				<input type="text" class="form-control" id="songLength" name="songLength" pattern="[0-9]{1,}" placeholder="{{data[0].songLength}}" required>

				<label for="year">totalStreams:</label>
				<input type="text" class="form-control" id="totalStreams" name="totalStreams" pattern="[0-9]{1,}" placeholder="{{data[0].totalStreams}}" required>
        </form>
	</div><!--edit-->
</body>
</html>