<html>
<head>
    <title>Users</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
    function showform(dowhat) {
        if(dowhat == 'insert') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        } else if(dowhat == 'update') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        } else if(dowhat == 'delete') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        } else {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }

    function newUser() {
        showform('insert');
    }

    function updateUser(pid) {
        showform('update');
    }

    function deleteUser(pid) {
        showform('delete');
    }

    function browseUser() {
        showform('browse');
    }

    function showAll() {
        showform('all');
    }
    </script>
</head>

<body onload="browseUser()">    {# onload attribute automatically calls browseUser when page loads #}
    <h1>Users</h1> [ <a href="/">Home</a> | <a href="users">Users</a> | <a href="albums">Albums</a> | <a href="likedSongs">Liked Songs</a> | <a href="artists">Artists</a> | <a href="songs">Songs</a> ]
    <div id="browse">
        <p><a href="#" onClick="newUser()">Add New</a></p>
        <table border="1" cellpadding="5">
            {% if data %}
            <thead>
                <tr>
                    {% for key in data[0].keys() %}
                    <th scope="col">{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    {% for key in item.keys() %}
                    <td>{{ item[key] }}</td>
                    {% endfor %}
                    <td><a href="edit_user/{{ item.userId }}" class="btn btn-default">Edit</a></td>
                    <td><a href="delete_user/{{ item.userId }}" class="btn btn-default">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>

    <div id="insert">
		<!-- form to INSERT new data into Users-->
        <form id="insertUser" action="/users" method="post">
            <legend><strong>Add User</strong></legend>
            <fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
                <label for="fName">First Name:</label>
                <input type="text" class="form-control" id="fName" name="fName" required>

                <label for="lName">Last Name:</label>
                <input type="text" class="form-control" id="lName" name="lName" required>

                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>

                <label for="dob">Date of Birth:</label>
                <input type="date" class="form-control" id="dob" name="dob" required>

            </fieldset>
            <!-- Create 'Add Artist' and 'Cancel' buttons -->
			<input type="submit" value="Add User" name="Add_User" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseUser()"> 
        </form>
    </div>
</body>
</html>
